.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  background: #ff012f;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 5px;
  float: right;
  margin-right: 10px;
}

.todo-title{
  background: #717479;
  color: #fff;
  text-align: left;
  padding: 10px;
}

form{
  display: flex;
  padding: 2px;
}

form input[type="text"]{
  flex: 10;
  padding: 10px;
}

form input[type="submit"]{
  flex: 2;
  color: #fff;
  background: #717479;
}

.non-completed-todo{
  background: #1fdda4;
  color: #fff;
  text-align: left;
  padding: 10px;
}

.completed{
  background: #717479;
  width: 10px;
  height: 10px;
  padding: 10px;
}

.not-completed{
  background: #1fdda4;
  width: 10px;
  height: 10px;
  padding: 10px;
}